
@{
    Layout = null;
}


<div class="alert alert-danger" role="alert">
<p style="text-align : center"> Merhaba Değerli Müşterimiz</p>
<br />
<p>
    Sitemizde şuanlık satışa uygun herhangi bir ürüne rastlanmamış olunamktadır. AKAR TİCARET Ekibi olarak çalışmalarımız devam etmekte ve sizlere şuanlık hizmet veremediğimiz için bir üzündü duymaktayız. İlerleyen zamanlarda tekrar görüşmek dileğiyle ... 
    
s
