
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout/_anasayfa_layout.cshtml";
}

<h1>ÜRÜN DETAYLARI SAYFASINA HOŞ GELDİNİZ </h1>
<h2>BU SAYFADA ÜRÜNE AİT SEÇTİĞİNİZ BİLGİLERİN DETAYLARI MEVCUT BULUNMAKTADIR .</h2>

