@using AKAR.WebUI.ViewModels
@model ProductViewModel
 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_anasayfa_layout.cshtml";
}



@if(@Model.Products.Count==0)
{
    @await Html.PartialAsync("~/Views/Shared/Layout/PartialView/_hicbirurunbulunamadi.cshtml")
    // bu kadar uzun yazmadan da çekebiliyorsun
}

else
{
     
     
<div class="row">
        @foreach (var item in @Model.Products)
        {  
            <div class="col-lg-3 col-md-4 col-12">
                @await Html.PartialAsync("~/Views/Shared/Layout/PartialView/_urunler_card.cshtml",item)
            </div>
        }

</div>

}
 